.employee_page {
  display: flex;
  justify-content: center;
  height: calc(100vh - 50px);
}
.employee_detail_container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  height: 650px;
  gap: 1rem;
  margin-top: 3rem;
  background-image: linear-gradient(
    to bottom,
    rgb(105, 31, 105),
    rgb(26, 4, 51)
  );
  box-shadow: 0 0 5px 2px rgb(128, 0, 110), 0 0 2px 5px white,
    0 0 2px 10px rgb(128, 0, 110);
}
.employee_detail_container .row {
  justify-content: space-between;
}
.employee_detail_container * {
  color: var(--background);
}
.employee_detail_container a {
  margin: 0 auto;
}
.employee_detail_container img {
  width: 200px;
  min-height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: 0 0 5px 2px rgb(128, 0, 110), 0 0 2px 5px white,
    0 0 2px 10px rgb(236, 108, 219);
}
.employee_detail_container button {
  font-weight: bold;

  border-radius: 10px;
  padding: 10px 10px;
  width: 200px;
  margin: 0 auto;
  border: none;
  box-shadow: 0px 0 15px black;
  cursor: pointer;
}

#update_button {
  background-color: var(--accent);
}
#update_button:hover {
  background-color: var(--accent-hover);
}
#delete_button {
  background-color: var(--danger);
}
#delete_button:hover {
  background-color: var(--danger-hover);
}

.update_password_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--secondary);

  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 2rem;
  transition: ease-in-out 300ms;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.update_password_container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.update_password_container form label {
  font-weight: bold;
}
.update_password_container input {
  font-size: 15px;
  padding: 5px;
}
.update_button {
  font-weight: bold;
  background-color: var(--accent);
  border-radius: 10px;
  padding: 10px 10px;
  width: 200px;
  margin: 0 auto;
  border: none;
  box-shadow: var(--shadow);
  cursor: pointer;
  color: var(--background);
}
.update_button:hover {
  background-color: var(--accent-hover);
}

.cancel_button {
  font-weight: bold;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 10px 10px;
  width: 200px;
  margin: 0 auto;
  border: none;
  box-shadow: var(--shadow);
  cursor: pointer;
  color: var(--background);
}
.cancel_button:hover {
  background-color: var(--primary-hover);
}
.employee_page .hidden {
  top: -500px;
}
.updated_container {
  background: var(--secondary);
  position: fixed;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 5px;
  box-shadow: var(--shadow);
  top: 400px;
}
.updated_container button {
  background-color: var(--accent);
  color: var(--background);
  border: none;
  width: 150px;
  padding: 10px 10px;
  margin: auto auto;
  border-radius: 5px;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.updated_container button:hover {
  background-color: var(--accent-hover);
}

.side_panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  background-color: var(--primary);
  height: 100%;
  gap: 20px;
  max-width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: var(--shadow);
}
.side_panel h2 {
  margin: 0 auto;
  margin-top: 20px;
  color: var(--background);
}
.side_panel li:hover {
  background-color: var(--accent);
  background-color: var(--accent-hover);
}
.side_panel a {
  padding: 10px;
  width: 250px;
  color: var(--background);
  font-size: 20px;
}
.side_panel a:hover {
  background-color: var(--primary-hover);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--background);
  box-shadow: var(--shadow);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 10px;
}
