@import url("employee_table.css");
@import "employee_page.css";

:root {
  --primary: #52126e;
  --primary-hover: #6a1d8b;
  --secondary: #e3f1ac;
  --secondary-hover: #b2bd85;
  --accent: #4ab41d;
  --accent-hover: #3f9718;
  --background: #e9e5fb;
  --background-hover: #b8b5c7;
  --text: #070416;
  --shadow: 0px 1px 10px 2px rgba(31, 30, 30, 0.371);
  --danger: rgb(214, 51, 51);
  --danger-hover: rgb(136, 31, 31);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--text);
  transition: ease-in-out 300ms;
}
body {
  background: var(--background);
  height: 100vh;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
}
nav {
  width: 100%;
  background-color: var(--background);
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
}
button {
  cursor: pointer;
}
ul {
  display: flex;
  list-style-type: none;
  align-items: baseline;
}
li {
  padding: 15px 20px;
  cursor: pointer;
  transition: ease-in-out 300ms;
  background-color: var(--background);
  font-weight: 600;
}
li:hover {
  background-color: var(--background-hover);
}

.row {
  display: flex;
  flex-direction: row;
}

/* Registration Page   */

.register_container {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register_container form {
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: linear-gradient(
    to bottom,
    rgb(105, 31, 105),
    rgb(26, 4, 51)
  );
  box-shadow: 0 0 5px 2px rgb(128, 0, 110), 0 0 2px 5px white,
    0 0 2px 10px rgb(128, 0, 110);
}
.register_container .row {
  gap: 1rem;
  justify-content: space-between;
}
.register_container form * {
  color: var(--background);
}
.register_container form input,
.register_container form option,
.register_container select {
  color: var(--text);
  font-size: 15px;
  padding: 5px;
}

.register_container form button {
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 20px;
  padding: 10px 0;
  width: 20rem;
  margin: 10px auto;
  cursor: pointer;
  border: none;
  box-shadow: var(--shadow);
  border-radius: 10px;
}
#signout_button {
  margin-left: auto;
}

.login_page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
.login_page form {
  color: var(--background);
  background-color: var(--primary);
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 400px;
  box-shadow: 0 0 5px 2px rgb(128, 0, 110), 0 0 2px 5px white,
    0 0 2px 10px rgb(128, 0, 110);
}
.login_page form input {
  font-size: 15px;
  padding: 5px;
}
.login_page form h2 {
  color: var(--background);
}
.login_page form button {
  background-color: var(--accent);
  color: var(--background);
  border-radius: 5px;
  box-shadow: var(--shadow);
  cursor: pointer;
  padding: 10px;
  margin: 0 auto;
  width: 200px;
  border: none;
}
.login_page form button:hover {
  background-color: var(--accent-hover);
}
.error_page_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.employee_not_found {
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px var(--danger), 0 0 2px 5px white,
    0 0 0 10px var(--danger);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--secondary);
  color: var(--background);
  padding: 2rem;
}
.employee_not_found h1 {
  color: var(--danger);
}
.employee_not_found button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: var(--shadow);
  background-color: var(--danger);
  color: var(--background);
}
